/* Reset default browser spacing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Top navigation background and alignment */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0cc048;
    padding: 15px 15px;
    position: sticky;
    top: 0;
    z-index: 100;
    margin-bottom: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Left-aligned logo section */
.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
}

.logo img {
    height: 60px;
    margin-right: 10px;
}

/* Center-aligned navigation links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ffffff;
}

/* Right-aligned authentication group */
.auth-buttons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.btn-Signin {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}

.btn-Register {
    text-decoration: none;
    color: #ffffff;
    background-color: #007bff;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn-Sell {
    text-decoration: none;
    color: #ffffff;
    background-color: #f1a20f;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s;
} 


.top-section {
    background-color: #0cc048;
    border-radius: 20px;
}


.welcome-section {
    text-align: center;
    padding: 10px 20px;
    margin-top: 0px;
   margin-bottom: 0px;
   color: #d4c2a0;
   
}


.welcome-title {
    font-size: 36px;
    color: #ffffff;
}

.offer {
    display: flex;
    justify-content: center;
    /* margin-top: 0px;
    margin-bottom: 0px; */
    color: #ffffff;
}


.search-bar {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 5px;
    
    border: none;
    border-radius: 4px;
}

.all-goods {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    background-color: #f8f9fa;
    border: none;
    border-radius: 4px;
}




/* Popup Styles */
 .popup {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.9);
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 1000;
  }
  
  



  .popup-content {
    text-align: center;
  }

  .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  